loader_animation_grow-shrink {
  "@keyframes grow-shrink {: undefined;
}

  0% { {
  undefined: undefined;
}

    transform: scale(1) {
  : undefined;
}

    opacity: 1 {
  : undefined;
}

  } {
  undefined: undefined;
}

  50% { {
  undefined: undefined;
}

    transform: scale(0.5) {
  : undefined;
}

    opacity: 0.5 {
  : undefined;
}

  100% { {
  undefined: undefined;
}

}" {
  undefined: undefined;
}

