/* 
Voici les fichiers CSS des Composants du Design System du Référentiel de Conception Numérique
Pour voir les règles d'intégrations des éléments <html> veuillez vous referrer au https://aife.economie.gouv.fr/referentiel/
*/

/*fondamentaux*/
@import url("typography/typography.css");/*lot1*/
@import url("icon/icon.css");/*lot1*/
@import url("globalcontainers/globalcontainers.css");/*lot1*/
@import url("link/link.css");/*lot1*/
@import url("grid/grid.css");/*lot4*/
@import url("animations/animations.css");/*lot2*/
/*composants*/
@import url("forminputs/forminputs.css");/*lot3*/
@import url("breadcrumb/breadcrumb.css");/*lot1*/
@import url("button/button.css");/*lot1*/
@import url("backtotop/backtotop.css");/*lot1*/
@import url("captcha/captcha.css");/*lot1*/
@import url("chips/chips.css");/*lot1*/
@import url("loader/loader.css");/*lot1*/
@import url("menu/menu.css");/* lot 4 */
/*modules*/
@import url("actionsbanner/actionsbanner.css");/*lot4*/
@import url("notification/notification.css");/*lot1*/
@import url("tooltip/tooltip.css");/*lot1*/
@import url("accordions/accordions.css");/*lot2*/
@import url("tabs/tabs.css");/*lot2*/
@import url("card/card.css");/*lot1*/
@import url("modal/modal.css");/*lot1*/
@import url("pagination/pagination.css");/* lot 4 */
@import url("stepper/stepper.css");/* lot 4 */
@import url("header/header.css");/*lot2*/
@import url("footer/footer.css");/*lot2*/
@import url("footerlanguageandversionbanner/footerlanguageandversionbanner.css");/* lot 5*/


/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}