:root {
--rcn-cardsCollection-display: flex;
--rcn-cardsCollection-flex-wrap: wrap;
--rcn-cardsCollection-justify-content: center;
--rcn-cardsCollection-gap: var(--rcn-semantic-gap-horizontal-500);
--rcn-cardsCollection-margin: var(--rcn-semantic-padding-horizontal-500) 0;
--rcn-card-flex: 1 1 calc(33.333% - 1rem);
--rcn-card-box-sizing: border-box;
--rcn-card_mainSection-display: flex;
--rcn-card_mainSection-flex-direction: column;
--rcn-cardsCollection-per-row-1___rcn-cardHolder-flex: 1 1 calc(100% - 1rem);
--rcn-cardsCollection-per-row-2___rcn-cardHolder-flex: 1 1 calc(50% - 1rem);
--rcn-cardsCollection-per-row-3___rcn-cardHolder-flex: 1 1 calc(33.333% - 1rem);
--rcn-cardsCollection-per-row-4___rcn-cardHolder-flex: 1 1 calc(25% - 1rem);
--rcn-cardsCollection--topLevel-display: flex;
--rcn-cardsCollection--topLevel-flex-direction: column;
--rcn-cardsCollection__zone-display: flex;
--rcn-cardsCollection__zone-flex-direction: row;
--rcn-cardsCollection__zone-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-cardsCollection__zone-align-items: center;
--rcn-cardsCollection__zone-padding: var(--rcn-semantic-padding-horizontal-400) 0;
--rcn-cardsCollection__zone-justify-content: space-between;
--rcn-cardsCollection__actionsGroup-flex-direction: row;
--rcn-cardsCollection__actionsGroup-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-cardsCollection__actionsGroup-align-items: center;
--rcn-cardsCollection__actionsGroup--buttons-display: flex;
--rcn-cardsCollection__actionsGroup--buttons-flex-direction: row;
--rcn-cardsCollection__actionsGroup--buttons-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-cardsCollection__actionsGroup--buttons-align-items: center;
--rcn-cardsCollection__selectionGroup-display: flex;
--rcn-cardsCollection__selectionGroup-background-color: var(--rcn-core-color-product-100);
--rcn-cardsCollection__selectionGroup-flex-direction: row;
--rcn-cardsCollection__selectionGroup-border-radius: var(--rcn-semantic-borderradius-200);
--rcn-cardsCollection__selectionGroup-align-items: center;
--rcn-cardsCollection__selectionGroup-justify-content: space-between;
--rcn-cardsCollection__selectionGroup--banner-display: flex;
--rcn-cardsCollection__selectionGroup--banner-flex-direction: row;
--rcn-cardsCollection__selectionGroup--banner-align-items: center;
--rcn-cardsCollection__selectionGroup--button-display: flex;
--rcn-cardsCollection__selectionGroup--button-flex-direction: row;
--rcn-cardsCollection__selectionGroup--button-align-items: center;
--rcn-cardsCollection__selectionGroup--banner___rcn-icon--mdi-close-font-size: var(--rcn-core-fontsize-1500r);
}