:root {
--rcn-menu-mdi-filter-outline-position: relative;
--rcn-menu-mdi-filter-outline-line-height: 100%;
--rcn-menu-filteroutline-display: flex;
--rcn-menu-filteroutline-flex-direction: column;
--rcn-menu-filteroutline-align-items: center;
--rcn-menu-filteroutline-justify-content: center;
--rcn-menu-menu-entry-if_hover-background-color: #e6eaf5;
--rcn-menu-menu-entry-if_hover-color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-menu-icon-display: flex;
--rcn-menu-icon-flex-direction: column;
--rcn-menu-icon-align-items: flex-start;
--rcn-menu-icon-justify-content: flex-start;
--rcn-menu-lorem-ipsum-doloris-position: relative;
--rcn-menu-lorem-ipsum-doloris-letter-spacing: -0.01em;
--rcn-menu-lorem-ipsum-doloris-line-height: 100%;
--rcn-menu-bodystatic-display: flex;
--rcn-menu-bodystatic-flex-direction: row;
--rcn-menu-bodystatic-align-items: center;
--rcn-menu-bodystatic-justify-content: center;
--rcn-menu-textandtitles-display: flex;
--rcn-menu-textandtitles-flex-direction: column;
--rcn-menu-textandtitles-align-items: center;
--rcn-menu-textandtitles-justify-content: center;
--rcn-menu-textandtitles-font-family: var(--rcn-semantic-typography-fontfamily-text);
--rcn-menu-menu-label-flex: 1;
--rcn-menu-menu-label-display: flex;
--rcn-menu-menu-label-flex-direction: row;
--rcn-menu-menu-label-align-items: center;
--rcn-menu-menu-label-justify-content: flex-start;
--rcn-menu-menu-label-gap: var(--rcn-semantic-gap-vertical-200);
--rcn-menu-menu-entry-align-self: stretch;
--rcn-menu-menu-entry-background-color: #fff;
--rcn-menu-menu-entry-display: flex;
--rcn-menu-menu-entry-flex-direction: row;
--rcn-menu-menu-entry-align-items: center;
--rcn-menu-menu-entry-justify-content: flex-start;
--rcn-menu-menu-entry-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-400);
--rcn-menu-menu-width: auto;
--rcn-menu-menu-position: relative;
--rcn-menu-menu-box-shadow: var(--rcn-semantic-dropshadow-static-overlayed);
--rcn-menu-menu-display: none;
--rcn-menu-menu-flex-direction: column;
--rcn-menu-menu-align-items: flex-start;
--rcn-menu-menu-justify-content: flex-start;
--rcn-menu-menu-text-align: left;
--rcn-menu-menu-font-size: var(--rcn-semantic-typography-fontsize-body);
--rcn-menu-menu-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-menu-menu-font-family: var(--rcn-semantic-typography-fontfamily-text);
}