:root {
--rcn-containerTable-display: block;
--rcn-containerTable-width: 100%;
--rcn-containerTable-max-width: 80vw;
--rcn-containerTable-min-width: 40vw;
--rcn-containerTable-font-family: var(--rcn-semantic-typography-fontfamily-text);
--rcn-containerTable-margin: 0 auto;
--rcn-containerTable-box-sizing: border-box;
--rcn-containerTable-position: relative;
--rcn-contentTable-display: flex;
--rcn-contentTable-overflow-x: auto;
--rcn-contentTable-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
--rcn-table-min-width: 100%;
--rcn-table-box-sizing: border-box;
--rcn-table-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-table-font-family: var(--rcn-semantic-typography-fontfamily-text);
--rcn-table-overflow-y: hidden;
--rcn-table-table-layout: auto;
--rcn-table-border-collapse: separate;
--rcn-containerTable__heading-display: flex;
--rcn-containerTable__heading-margin-bottom: var(--rcn-semantic-gap-vertical-400);
--rcn-containerTable__heading-justify-content: space-between;
--rcn-containerTable__heading-align-items: center;
--rcn-containerTable__heading___a-text-align: right;
--rcn-containerTable__heading___a-color: #000;
--rcn-tableBannerFunctionZone-display: inline-flex;
--rcn-tableBannerFunctionZone-justify-content: space-between;
--rcn-tableBannerFunctionZone-align-items: center;
--rcn-tableBannerFunctionZone-width: 100%;
--rcn-tableBannerFunctionZone-gap: var(--rcn-semantic-gap-vertical-200);
--rcn-tableBannerFunctionZone-flex-direction: row;
--rcn-tableBannerFunctionZone-padding: var(--rcn-semantic-gap-vertical-200);
--rcn-tableBannerFunctionZone-border-width: var(--rcn-semantic-borderwidth-100) var(--rcn-semantic-borderwidth-100) 0 var(--rcn-semantic-borderwidth-100);
--rcn-tableBannerFunctionZone-border-style: solid;
--rcn-tableBannerFunctionZone-border-color: var(--rcn-semantic-color-static-border-standard);
--rcn-tableBannerFunctionZone-box-sizing: border-box;
--rcn-preTable-display: flex;
--rcn-preTable-width: 100%;
--rcn-preTable-justify-content: space-between;
--rcn-preTable-margin-bottom: var(--rcn-semantic-gap-vertical-400);
--rcn-postTable-display: flex;
--rcn-postTable-width: 100%;
--rcn-postTable-flex-direction: row-reverse;
--rcn-postTable-margin-top: var(--rcn-semantic-gap-vertical-400);
--rcn-preTable___a-color: var(--rcn-semantic-color-static-text_and_icon-onstandard);
--rcn-postTable___a-color: var(--rcn-semantic-color-static-text_and_icon-onstandard);
--rcn-tableBannerFunctionZone__actionZone-display: flex;
--rcn-tableBannerFunctionZone__actionZone-flex-direction: row;
--rcn-tableBannerFunctionZone__actionZone-align-items: center;
--rcn-tableBannerFunctionZone__buttonsZone-display: flex;
--rcn-tableBannerFunctionZone__buttonsZone-flex-direction: row;
--rcn-tableBannerFunctionZone__buttonsZone-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-tableBannerSelectedZone-flex-direction: row;
--rcn-tableBannerSelectedZone-justify-content: space-between;
--rcn-tableBannerSelectedZone-align-items: center;
--rcn-tableBannerSelectedZone-padding: var(--rcn-semantic-padding-vertical-200);
--rcn-tableBannerSelectedZone-background: var(--rcn-semantic-color-interaction-background-default-primary);
--rcn-tableBannerSelectedZone-color: var(--rcn-semantic-color-static-text_and_icon-onprimary);
--rcn-tableBannerSelectedZone__actionZone-display: flex;
--rcn-tableBannerSelectedZone__actionZone-flex-direction: row;
--rcn-tableBannerSelectedZone__actionZone-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-tableRow-overflow: auto;
--rcn-tableRow-width: 100%;
--rcn-tableHead-padding: var(--rcn-semantic-padding-vertical-400);
--rcn-tableHead-border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
--rcn-tableHead-border-bottom: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
--rcn-tableHead-border-left: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
--rcn-tableHead-background: var(--rcn-semantic-color-static-background-standard);
--rcn-tableHead-vertical-align: middle;
--rcn-tableHead-white-space: nowrap;
--rcn-tableHead__container-display: flex;
--rcn-tableHead__container-flex-direction: row;
--rcn-tableHead__container-justify-content: space-between;
--rcn-tableHead__container-vertical-align: middle;
--rcn-tableHead__container-color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
--rcn-tableHead__container-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-tableHead__container-min-width: fit-content;
--rcn-tableHead__container--title-min-width: fit-content;
--rcn-tableHead__container--filter-min-width: fit-content;
--rcn-tableHead__container--checkable___rcn-inputField__input--checkbox-in_before-color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
--rcn-tableHead--action___rcn-tableHead__container-justify-content: center;
--rcn-tableHead--action___rcn-tableHead__container-min-width: 1rem;
--rcn-tableRow__cell_child-even-background: var(--rcn-semantic-color-static-background-standard);
--rcn-tableRow__cell_child-odd-background: var(--rcn-semantic-color-static-background-table_alternate_line);
--rcn-tableSubRow__cell_child-odd-background: var(--rcn-semantic-color-static-background-table_alternate_line);
--rcn-tableSubRow__cell_child-even-background: var(--rcn-semantic-color-static-background-standard);
--rcn-tableRow__cell-if_has___input-if_checked-background: var(--rcn-semantic-color-static-background-table_line_selected);
--rcn-tableSubRow__cell-if_hasinput-if_checked-background: var(--rcn-semantic-color-static-background-table_line_selected);
--rcn-tableRow__cell-if_hasinput-if_checked___rcn-tableCell-if_first-of-type-border-color: var(--rcn-semantic-color-static-border-primary);
--rcn-tableRow__cell-if_hasinput-if_checked___rcn-tableCell-if_first-of-type-border-left-width: var(--rcn-semantic-borderwidth-300);
--rcn-tableSubRow__cell-if_hasinput-if_checked___rcn-tableCell-if_first-of-type-border-color: var(--rcn-semantic-color-static-border-primary);
--rcn-tableSubRow__cell-if_hasinput-if_checked___rcn-tableCell-if_first-of-type-border-left-width: var(--rcn-semantic-borderwidth-300);
--rcn-tableCell-padding: var(--rcn-semantic-padding-vertical-300) var(--rcn-semantic-padding-vertical-200);
--rcn-tableCell-border-width: 0 0 0 var(--rcn-semantic-borderwidth-100);
--rcn-tableCell-border-style: solid;
--rcn-tableCell-border-color: var(--rcn-semantic-color-static-border-standard);
--rcn-tableCell-vertical-align: middle;
--rcn-tableCell-white-space: nowrap;
--rcn-tableCell__content-display: flex;
--rcn-tableCell__content-white-space: nowrap;
--rcn-tableCell__content-width: fit-content;
--rcn-tableCell__content-line-height: 1;
--rcn-tableCell__content-text-overflow: ellipsis;
--rcn-tableCell__content-overflow: hidden;
--rcn-tableCell__content-max-width: 10rem;
--rcn-tableCell__action-display: flex;
--rcn-tableCell__action-justify-content: center;
--rcn-tableCell--foldable-border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-static-border-standard);
--rcn-tableCell__number-display: flex;
--rcn-tableCell__number-justify-content: flex-end;
--rcn-card__mainSection-flex-direction: column;
}